// Typography
$sans-serif: "Nunito", sans-serif;
$montserrat: "Montserrat";
$roboto: "Roboto";
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: #ffffff;
$black: #4c4c4c;
$grey: #d9d9d9;
$darker-gray: #828282;
$green: #54b459;
$light-blue: #008fee;
$blue: #007fde;
$facebook: #22599b;
$twitter: #0caef1;
$google: #f34734;
